doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/about.jpeg', alt='...')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Buy your 
                                    span.section-heading-lower perfect shoes
                                p
                                    | Being comfortable and fashionable in a modern city means to wear good shoes. That is why in this shoe store we have gathered only the trainers that meet the needs and requirements of the most demanding customers. 
                                p.mb-0
                                    |  For those of them who value quality and perfectly made products, we decided to work exclusively with trusted manufacturers. This move ensures that the latest series, also including limited must-haves, can be within their reach. We believe that shoes can make every outfit look great, but we also know that these are the accessories that can make it look even better. Our “Accessories” section is full of ideas. You can find there: socks, stance socks, bags, caps and many more. All the orders placed through our online shop are handled with care. We do our best to dispatch and ship them as soon as possible. Sneakers are orderable from every country inside and outside the European Union..

        include includes/footer

        include includes/scripts
