doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title DingZhang Store

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpeg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Selling or Buying
                            span.section-heading-lower Hype Sneakers
                        p.mb-3
                            | Our talented team is passionate about providing our customers with an exciting and exclusive shopping experience. Stocking the latest range of collectables, sneakers and clothing - you are undoubtedly going to find something that suits your style!
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='#!') Visit Us Today!

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Our Promise
                                span.section-heading-lower To You
                            p.mb-0
                                | Best Sneakers Shoes Online Store Welcome to the world of sneakers where only top quality kicks are offered. Online Shop works exclusively with trusted manufacturers, ensuring the latest series, including limited must-have. The selection in our store is very thorough and well thought out, based on timeless design, functionality, natural materials and original solutions. Not rest on our laurels, so we can continue to expand with new brands and models, so that the products displayed the world stage to reflect ever. We sell best shoes sneakers-known and well-known manufacturers such as adidas, Nike, Reebok, Converse, Asics, New Balance, Puma, Jordan. In our online shop you will find of course only genuine top quality shoes sneaker. We invite you to shop.

        include includes/footer

        include includes/scripts
