doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Nike
                                span.section-heading-lower Air Jordan
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/products-01.jpeg' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Designed by Peter Moore, the Air Jordan 1 is the most influential shoe in sneaker history. Michael Jordan laced up a pair for the first time in 1984, changing the conversation around footwear permanently.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Adidas
                                span.section-heading-lower Yeezy
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/products-02.jpeg' alt='...')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | adidas and Kanye West's collaborative line debuted in 2015 with the release of the Yeezy Boost 750. Since then, adidas Yeezy has set new standards for progressive sneaker designs with the Yeezy 350, 450, 700, Foam Runner and more. Today adidas Yeezy's influence is felt across the style spectrum, from streetwear to luxury.
        include includes/footer

        include includes/scripts
